.gameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #faf1e6;
  height: 100vh;

  .gameInner {
    flex: 9;
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: flex-end;
    img {
      width: 69.5%;
      position: static;
    }
    .gameInnerCont {
      position: absolute;
      width: 100%;
      height: 80%;
      display: flex;
      justify-content: flex-end;
      padding-bottom: 30px;
      .contentGame {
        width: 30%;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 40px;

        h2 {
          font-family: "Roboto Mono", monospace;
        }
        .buttonCont {
          width: 100%;
          height: 10%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
        }
        button {
          margin-right: 50px;
          width: 150px;
          height: 50px;
          border: 6px solid #076c32;
          border-color: #076c32;
          background: #a3da8d;
          border-radius: 50px;
          font-family: "Roboto Mono", monospace;
        }
      }
    }
  }
}
